source C:\Workspace\nuget
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Avalonia 0.10.14
nuget Avalonia.Desktop
nuget Avalonia.Diagnostics
nuget Avalonia.ReactiveUI
nuget RZ.FSharp.Extension
nuget akka
nuget MinVer
nuget Serilog
nuget Serilog.Sinks.Debug